# Python & Virtual environment
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.spec

# Logs & Local data persistence
*.log
logs/
data/speedtest_history.json
data/settings.json

# IDEs & OS files
.idea/
.vscode/
.DS_Store
Thumbs.db
.env
token.txt
data/github_token.txt

